<% if current_user.role === 'user' %>
  <h3>Welcome To Dogged</h3>
  <h4>The site for registering your doggly friends</h4>
  <ul>
    <h1>My Details</h1>
    <li><h3>Name</h3> <%= current_user.name %></li>
    <li><h3>Address</h3><%= current_user.address %></li>
    <li><h3>Email</h3><%= current_user.email %></li>
  </ul>
  <ul>
  <% current_user.dogs.each do |dog| %>
    <h1>My Dogs</h1>
    <li><%= dog.name %></li>
    <h1>View My Dogs</h1>
    <h1>Register New Dog</h1>
    <h1></h1>
  </ul>
  <% end %>
<% elsif current_user.role === 'admin'%>
  <ul>
  <% User.all.each do |user| %>
    <li>
      <ul>
      <%= user.name %>
      <%= user.dogs.each do |dog| %>
        <li><%= dog.name %></li>
        <li><%= dog.breed %></li>
        <li><%= dog.date_of_birth %></li>
      </ul>
      <% end %>
    </li>
  </ul>
  <% end %>
<% end %>