<div class="authform">
  <%= form_for [:user, @dog], :url => user_dogs_path do |f| %>

    <h3>New Dog</h3>

    <div class="form-group">
      <%= f.label :dog_name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control' %>
    </div>

     <%= f.submit 'Register dog', :method => :post, :class => 'button right' %>

  <% end %>
</div>
