<div class="authform">
  <%= form_for [:user, @dog], :url => user_dogs_path do |f| %>

    <h3>New Dog</h3>

    <div class="form-group">
      <%= f.label :dog_name %>
      <%= f.text_field :name, :autofocus => true, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :breed %>
      <%= f.text_field :breed, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :date_of_birth %>
      <%= f.date_field :date_of_birth, class: 'form-control' %>
    </div>

    <div class="form-group">
    <%= f.label :register_for %>
    <% f.select :registered_until , class:'form-control'%>
      <!-- <form action="register" accept-charset="utf-8"> -->
      <!--   <input class="form-control" type="radio" name="dog[registered_until]" option value="6 months">6 months</input>
        <input class="form-control" type="radio" name="dog[registered_until]" option value="9 months">9 months</input>
        <input class="form-control" type="radio" name="dog[registered_until]" option value="12 months">12 months</input> -->
      <!-- </form> -->
      <%= f.radio_button :registered_until, (Date.today + 3.months), class: 'form-control' %>
      <%= f.radio_button :registered_until, (Date.today + 6.months), class: 'form-control' %>
      <%= f.radio_button :registered_until, (Date.today + 12.months), class: 'form-control' %>
    </div>

     <%= f.submit 'Register dog', :method => :post, :class => 'button right' %>

  <% end %>
</div>
