 <h1>Dogged</h1>

  <div>
    <h2><%= @dog.name %></h2>
    <div>
      <p>Breeed: <%= @dog.breed %></p>
      <p>DOB: <%= @dog.date_of_birth %></p>
      <p>Registered: <%= @dog.registered %></p>
      <p>Registered Until: <%= @dog.registered_until %></p>
      <p><%= link_to 'Update Dog Details', edit_user_dog_path(user_id: current_user.id, id: @dog.id) %></p>
    </div>

    <p><%= link_to 'Register New Dog', new_user_dog_path(user_id: current_user.id) %></p>
  </div>
