  <h1><%=current_user.name %>, Welcome To Dogged</h1>

  <h2>The site for registering your doggly friends</h2>

  <div>
    <h2>My Details</h2>
    <h3>Name</h3><p><%= current_user.name %></p>
    <h3>Address</h3><p><%= current_user.address %></p>
    <h3>Email</h3><p><%= current_user.email %></p>
    <p><%= link_to 'Update Details', edit_user_registration_path %></p>
  </div>

  <div>
    <h1>My Dogs</h1>
    <% current_user.dogs.each do |dog| %>

    <div>
      <p><%= dog.name %></p>
      <p><%= dog.breed %></p>
      <p><%= dog.date_of_birth %></p>
      <p><%= link_to 'Update Dog Details', edit_user_dog_path %></p>
    </div>
    <% end %>

    <p><%= link_to 'Register New Dog', new_user_dog_path(current_user) %></p>
  </div>
  <!-- separate partial? -->
 <% if current_user.admin? %>
  <%= render 'layouts/admin_index' %>
<% end %>
